<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "layoutAdmin :: head">
</head>
<body class="no-skin">
	<header th:replace="layoutAdmin :: header"></header>
	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try{ace.settings.loadState('main-container')}catch(e){}
		</script>
		<div id="sidebar" class="sidebar responsive ace-save-state">
			<script type="text/javascript">
				try{ace.settings.loadState('sidebar')}catch(e){}
			</script>
			<ul class="nav nav-list">
				<li class="">
					<a href="/arsenal">
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text"> Arsenal </span>
					</a>

					<b class="arrow"></b>
				</li>
				<li class="">
					<a href="#" class="dropdown-toggle">
						<i class="menu-icon fa fa-pencil-square-o"></i>
						<span class="menu-text"> Dữ liệu Tin tức</span>
						<b class="arrow fa fa-angle-down"></b>
					</a>
					<b class="arrow"></b>
					<ul class="submenu">
						<li class="active">
							<a href="/admin/News">
								<i class="menu-icon fa fa-caret-right"></i>
								Thêm dữ liệu
							</a>
							<b class="arrow"></b>
						</li>
						<li class="active">
							<a href="/admin/getListNews">
								<i class="menu-icon fa fa-caret-right"></i>
								Xóa, Sửa dữ liệu
							</a>
							<b class="arrow"></b>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="#" class="dropdown-toggle">
						<i class="menu-icon fa fa-pencil-square-o"></i>
						<span class="menu-text"> Dữ liệu cầu thủ</span>
						<b class="arrow fa fa-angle-down"></b>
					</a>
					<b class="arrow"></b>
					<ul class="submenu">
						<li class="active">
							<a href="/admin/PlayerProfile">
								<i class="menu-icon fa fa-caret-right"></i>
								Thêm dữ liệu
							</a>
							<b class="arrow"></b>
						</li>
						<li class="active">
							<a href="/admin/getListPlayerProfile">
								<i class="menu-icon fa fa-caret-right"></i>
								Xóa, Sửa dữ liệu
							</a>
							<b class="arrow"></b>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="#" class="dropdown-toggle">
						<i class="menu-icon fa fa-pencil-square-o"></i>
						<span class="menu-text"> Video</span>
						<b class="arrow fa fa-angle-down"></b>
					</a>
					<b class="arrow"></b>
					<ul class="submenu">
						<li class="active">
							<a href="/admin/Video">
								<i class="menu-icon fa fa-caret-right"></i>
								Thêm dữ liệu
							</a>
							<b class="arrow"></b>
						</li>
						<li class="active">
							<a href="/admin/getListVideo">
								<i class="menu-icon fa fa-caret-right"></i>
								Xóa, Sửa dữ liệu
							</a>
							<b class="arrow"></b>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="#" class="dropdown-toggle">
						<i class="menu-icon fa fa-pencil-square-o"></i>
						<span class="menu-text"> Lịch thi đấu</span>
						<b class="arrow fa fa-angle-down"></b>
					</a>
					<b class="arrow"></b>
					<ul class="submenu">
						<li class="active">
							<a href="/admin/Schedule">
								<i class="menu-icon fa fa-caret-right"></i>
								Thêm dữ liệu
							</a>
							<b class="arrow"></b>
						</li>
						<li class="active">
							<a href="/admin/getListSchedule">
								<i class="menu-icon fa fa-caret-right"></i>
								Xóa, Sửa dữ liệu
							</a>
							<b class="arrow"></b>
						</li>
					</ul>
				</li>
				<li class="active open">
					<a href="#" class="dropdown-toggle">
						<i class="menu-icon fa fa-pencil-square-o"></i>
						<span class="menu-text"> Áo thi đấu</span>
						<b class="arrow fa fa-angle-down"></b>
					</a>
					<b class="arrow"></b>
					<ul class="submenu">
						<li class="active">
							<a href="/admin/Product">
								<i class="menu-icon fa fa-caret-right"></i>
								Thêm dữ liệu
							</a>
							<b class="arrow"></b>
						</li>
						<li class="active">
							<a href="/admin/getListProduct">
								<i class="menu-icon fa fa-caret-right"></i>
								Xóa, Sửa dữ liệu
							</a>
							<b class="arrow"></b>
						</li>
					</ul>
				</li>
			</ul>
			<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
				<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
			</div>
		</div>
		<div class="main-content">
			<div class="main-content-inner">
				<div class="breadcrumbs ace-save-state" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="ace-icon fa fa-home home-icon"></i>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Xóa, Sửa dữ liệu</a>
						</li>
					</ul>
				</div>
				<div class="page-content">					
					<h1 class="header green">Xóa, Sửa dữ liệu</h1>
					<div class="row">
						<div class="col-xs-12">
								<div class="row">
									<div class="col-sm-12">
										<h3 class="header green">Danh sách sản phẩm</h3>
										<div id="searchBox">
										    <form name="searchForm">
										      <div>
										        <i class="icon-search icon-large icon-height"></i>
										        <input name="searchfield" type="search" size="20" maxlength="30">
										      </div>
										    </form>
										</div>
										<table class="table">
										    <thead>
										      <tr id="tr">
										        <th>STT</th>
										        <th>Tên sản phẩm</th>
										        <th>Mùa giải</th>
										        <th>Giá bán</th>
										        <th>Hình ảnh</th>
										        <th>Xóa, Sửa</th>
										      </tr>
										    </thead>
										    <tbody>
										    	<th:block th:each="product : ${listProduct}" th:with="stt = 0">
											      <tr>
											      	 <td>
											      	 	<p th:with="stt=${stt+2}" th:text="${stt}"></p></td>
											         <td th:text="${product.getName_product()}"></td>
											         <td th:text="${product.getSeason()}"></td>
											         <td th:text="${product.getPrice_product()}"></td>
							         				 <td><img th:src="${product.getImage_product()}" class="frame-image"/></td>
											         <td style="display:none;" th:text="${product.getId_product()}" class="idProduct"></td>
											         <td><button type="button" class="btn btn-warning btn-md btn-deleteProduct">Xóa</button>
											         <button type="button" class="btn btn-success btn-md btn-updateProduct" data-toggle="modal" data-target="#myModal">Sửa</button></td>	
											      </tr>
											   </th:block>
										    </tbody>
										  </table>				  	
									  	<div class="modal fade" id="myModal" role="dialog">
										    <div class="modal-dialog">								    
										      <div class="modal-content">
										        <div class="modal-header">
										          <button type="button" class="close" data-dismiss="modal">&times;</button>
										          <h4 class="modal-title">Nội dung chỉnh sửa</h4>
										        </div>
										        <div class="modal-body">
										          	<form id="form-updateProduct">
														<h4 class="header green">Tên sản phẩm</h4>
														<label class="block clearfix">
																<span class="block input-icon input-icon-right">
																	<input type="text" class="form-control" placeholder="Name product" name="name_productChange" id="name_product" onkeyup="checkText()"/>
																</span>
														</label>
														<p style="color: red;"><span id="statusName"></span></p>
														<h4 class="header green">Mùa giải</h4>
														<label class="block clearfix">
																<span class="block input-icon input-icon-right">
																	<input type="text" class="form-control" placeholder="Season" name="season_productChange" id="season_product" onkeyup="checkText()"/>
																</span>
														</label>
														<p style="color: red;"><span id="statusSeason"></span></p>         
														<h4 class="header green">Giá bán</h4>
														<label class="block clearfix">
																<span class="block input-icon input-icon-right">
																	<input type="text" class="form-control" placeholder="Price" name="price_productChange" id="price_product" onkeyup="checkText()"/>
																</span>
														</label>
														<select id="dropdownListUpdateProduct">
															<th:block th:each="detailProduct : ${listDetailProduct}">
														      	 <option name="colorsizeProduct" class="colorsizeProduct">
														      	 	<p th:text="${detailProduct.getColor_product()}"></p>
														      	 	<p th:text="${detailProduct.getSize_product()}"></p>
														      	 </option>
														    </th:block>
														</select><br/><br/>
														<p style="color: red;"><span id="statusPrice"></span></p>
														<button type="button" class="btn btn-sm btn-purple btn-confirmUpdateProduct">
															<i class="ace-icon fa fa-floppy-o bigger-125"></i>
															<span class="bigger-110">Sửa nội dung</span>
														</button>
														<button id="btn-reset" type="reset" class="width-35 pull-right btn btn-sm">
															<i class="ace-icon fa fa-refresh"></i>
															<span class="bigger-110">Reset</span>
														</button>
													</form>
													<script>
														function checkText(){
															var nameProduct = document.getElementById("name_product").value;
															var seasonProduct = document.getElementById("season_product").value;
															var priceProduct = document.getElementById("price_product").value;
															if(nameProduct == ""){
																document.getElementById("statusName").innerHTML = "requires an text";
															}
															else{
																document.getElementById("statusName").innerHTML = " ";
															}
															if(seasonProduct == ""){
																document.getElementById("statusSeason").innerHTML = "requires an text";
															}
															else{
																document.getElementById("statusSeason").innerHTML = " ";
															}
															if(priceProduct == ""){
																document.getElementById("statusPrice").innerHTML = "requires an text";
															}
															else{
																document.getElementById("statusPrice").innerHTML = " ";
															}
														}
													</script>
										        </div>
										      </div>										      
										    </div>
									 	</div>										  				
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<footer th:replace = "layoutAdmin :: footer"></footer>
</body>
</html>