<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "layoutAdmin :: head">
</head>
<body class="no-skin">
	<header th:replace="layoutAdmin :: header"></header>
	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try{ace.settings.loadState('main-container')}catch(e){}
		</script>
		<div id="sidebar" class="sidebar responsive ace-save-state">
			<script type="text/javascript">
				try{ace.settings.loadState('sidebar')}catch(e){}
			</script>
			<ul class="nav nav-list">
				<li class="">
					<a href="/arsenal">
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text"> Arsenal </span>
					</a>

					<b class="arrow"></b>
				</li>
				<li class="">
					<a href="#" class="dropdown-toggle">
						<i class="menu-icon fa fa-pencil-square-o"></i>
						<span class="menu-text"> Dữ liệu Tin tức</span>
						<b class="arrow fa fa-angle-down"></b>
					</a>
					<b class="arrow"></b>
					<ul class="submenu">
						<li class="active">
							<a href="/admin/News">
								<i class="menu-icon fa fa-caret-right"></i>
								Thêm dữ liệu
							</a>
							<b class="arrow"></b>
						</li>
						<li class="active">
							<a href="/admin/getListNews">
								<i class="menu-icon fa fa-caret-right"></i>
								Xóa, Sửa dữ liệu
							</a>
							<b class="arrow"></b>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="#" class="dropdown-toggle">
						<i class="menu-icon fa fa-pencil-square-o"></i>
						<span class="menu-text"> Dữ liệu cầu thủ</span>
						<b class="arrow fa fa-angle-down"></b>
					</a>
					<b class="arrow"></b>
					<ul class="submenu">
						<li class="active">
							<a href="/admin/PlayerProfile">
								<i class="menu-icon fa fa-caret-right"></i>
								Thêm dữ liệu
							</a>
							<b class="arrow"></b>
						</li>
						<li class="active">
							<a href="/admin/getListPlayerProfile">
								<i class="menu-icon fa fa-caret-right"></i>
								Xóa, Sửa dữ liệu
							</a>
							<b class="arrow"></b>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="#" class="dropdown-toggle">
						<i class="menu-icon fa fa-pencil-square-o"></i>
						<span class="menu-text"> Video</span>
						<b class="arrow fa fa-angle-down"></b>
					</a>
					<b class="arrow"></b>
					<ul class="submenu">
						<li class="active">
							<a href="/admin/Video">
								<i class="menu-icon fa fa-caret-right"></i>
								Thêm dữ liệu
							</a>
							<b class="arrow"></b>
						</li>
						<li class="active">
							<a href="/admin/getListVideo">
								<i class="menu-icon fa fa-caret-right"></i>
								Xóa, Sửa dữ liệu
							</a>
							<b class="arrow"></b>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="#" class="dropdown-toggle">
						<i class="menu-icon fa fa-pencil-square-o"></i>
						<span class="menu-text"> Lịch thi đấu</span>
						<b class="arrow fa fa-angle-down"></b>
					</a>
					<b class="arrow"></b>
					<ul class="submenu">
						<li class="active">
							<a href="/admin/Schedule">
								<i class="menu-icon fa fa-caret-right"></i>
								Thêm dữ liệu
							</a>
							<b class="arrow"></b>
						</li>
						<li class="active">
							<a href="/admin/getListSchedule">
								<i class="menu-icon fa fa-caret-right"></i>
								Xóa, Sửa dữ liệu
							</a>
							<b class="arrow"></b>
						</li>
					</ul>
				</li>
				<li class="active open">
					<a href="#" class="dropdown-toggle">
						<i class="menu-icon fa fa-pencil-square-o"></i>
						<span class="menu-text"> Áo thi đấu</span>
						<b class="arrow fa fa-angle-down"></b>
					</a>
					<b class="arrow"></b>
					<ul class="submenu">
						<li class="active">
							<a href="/admin/Product">
								<i class="menu-icon fa fa-caret-right"></i>
								Thêm dữ liệu
							</a>
							<b class="arrow"></b>
						</li>
						<li class="active">
							<a href="/admin/getListProduct">
								<i class="menu-icon fa fa-caret-right"></i>
								Xóa, Sửa dữ liệu
							</a>
							<b class="arrow"></b>
						</li>
					</ul>
				</li>
			</ul>
			<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
				<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
			</div>
		</div>
		<div class="main-content">
			<div class="main-content-inner">
				<div class="breadcrumbs ace-save-state" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="ace-icon fa fa-home home-icon"></i>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Thêm dữ liệu</a>
						</li>
					</ul>
				</div>
				<div class="page-content">					
					<h1 class="header green">Thêm dữ liệu sản phẩm</h1>
					<div class="row">
						<div class="col-xs-12">
								<div class="row">
									<div class="col-sm-12">
										<form id="form-addProduct">
											<h4 class="header green">Tên sản phẩm</h4>
											<label class="block clearfix">
													<span class="block input-icon input-icon-right">
														<input type="text" class="form-control" placeholder="Name Product" name="name_product" id="name_product" onkeyup="checkText()"/>
													</span>
											</label>
											<p style="color: red;"><span id="statusName"></span></p>
											<h4 class="header green">Mùa bóng</h4>
											<label class="block clearfix">
													<span class="block input-icon input-icon-right">
														<input type="text" class="form-control" placeholder="season" name="season" id="season" onkeyup="checkText()"/>
													</span>
											</label>
											<p style="color: red;"><span id="statusSeason"></span></p>
											<h4 class="header green">Giá bán</h4>
											<label class="block clearfix">
													<span class="block input-icon input-icon-right">
														<input type="text" class="form-control" placeholder="Price Product" name="price_product" id="price_product" onkeyup="checkText()"/>
													</span>
											</label>
											<p style="color: red;"><span id="statusPrice"></span></p>       
									        <h4 class="header green">File to upload:</h4>
									        <label class="block clearfix">
													<span class="block input-icon input-icon-right">
														<input type="file" class="form-control image" placeholder="Image Product" name="image_product"/>
													</span>
											</label><br/>
											<select id="dropdownListAddProduct">
												<th:block th:each="detailProduct : ${listDetailProduct}">
											      	 <option name="colorsizeProduct" class="colorsizeProduct">
											      	 	<p th:text="${detailProduct.getColor_product()}"></p>
											      	 	<p th:text="${detailProduct.getSize_product()}"></p>
											      	 </option>
											    </th:block>
											</select><br/><br/>	
											<button type="button" class="btn btn-success btn-md btn-addProduct">Thêm dữ liệu</button>							
										</form>
										
										<script>
											function checkText(){
												var nameProduct = document.getElementById("name_product").value;
												var season = document.getElementById("season").value;
												var priceProduct = document.getElementById("price_product").value;
												if(nameProduct == ""){
													document.getElementById("statusName").innerHTML = "requires an text";
												}
												else{
													document.getElementById("statusName").innerHTML = " ";
												}
												if(season == ""){
													document.getElementById("statusSeason").innerHTML = "requires an text";
												}
												else{
													document.getElementById("statusSeason").innerHTML = " ";
												}
												if(priceProduct == ""){
													document.getElementById("statusPrice").innerHTML = "requires an text";
												}
												else{
													document.getElementById("statusPrice").innerHTML = " ";
												}
											}
										</script>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<footer th:replace = "layoutAdmin :: footer"></footer>
</body>
</html>
