<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>

<body>
    <header th:replace="layout :: header"></header>
    <div class="hero-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-8">
                    <!-- Breaking News Widget -->
                    <div class="breaking-news-area d-flex align-items-center">
                        <div class="news-title">
                            <p>Lá»‹ch thi Ä‘áº¥u</p>
                        </div>
                        <div id="breakingNewsTicker" class="ticker">
                            <ul>
                                <li><a href="#">Arsenal - Liverpool</a></li>
                                <li><a href="#">Arsenal - Tottenham</a></li>
                                <li><a href="#">Arsenal - Cheseal</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Breaking News Widget -->
                    <div class="breaking-news-area d-flex align-items-center mt-15">
                        <div class="news-title title2">
                            <p>Chuyển nhượng</p>
                        </div>
                        <div id="internationalTicker" class="ticker">
                            <ul>
                                <li><a href="#">Xem giò ronaldo</a></li>
                                <li><a href="#">Ký hợp đồng với Ramsey</a></li>
                                <li><a href="#">Tiến hành giám sát Messi</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Hero Add -->
                <div class="col-12 col-lg-4">
                    <div class="hero-add">
                        <a href="#"><img src="/img/bg-img/hero-add.gif" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="featured-post-area">
        <div class="container">
            <div class="row">
                <p>Mesut Ozil</p>
                <img alt="image nè" src="/img/core-img/mesutozil.jpg">
                <a href="https://youtu.be/rOtwojjGDw0" class="videoPlayer"><i class="fa fa-play" aria-hidden="true"></i></a>
           		<p>Name :</p>
           		<p>Squad Number</p>
           		<p>Born</p>
           		<p>Country</p>
            </div>
        </div>
    </div>
    <footer th:replace="layout :: footer"></footer>
</body>

</html>