<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
    <header th:replace="layout :: header"></header>
    <div class="hero-area">
        <div class="container">
            <div class="row align-items-center">
                 <div class="col-12 col-lg-8">
                    <!-- Breaking News Widget -->
                    <div class="breaking-news-area d-flex align-items-center">
                        <div class="news-title">
                            <p>Lịch thi đấu</p>
                        </div>
                        <div id="breakingNewsTicker" class="ticker">
                            <ul>
                                <li><a href="#">Arsenal - Liverpool</a></li>
                                <li><a href="#">Arsenal - Tottenham</a></li>
                                <li><a href="#">Arsenal - Cheseal</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Breaking News Widget -->
                    <div class="breaking-news-area d-flex align-items-center mt-15">
                        <div class="news-title title2">
                            <p>Chuyển nhượng</p>
                        </div>
                        <div id="internationalTicker" class="ticker">
                            <ul>
                                <li><a href="#">Xem giò chạy cánh trẻ boba yama</a></li>
                                <li><a href="#">Hậu vệ trẻ lolo kaupo</a></li>
                                <li><a href="#">Tiền vệ trụ cacu jame</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Hero Add -->
                <div class="col-12 col-lg-4">
                    <div class="hero-add">
                        <a href="#"><img src="/img/bg-img/hero-add.gif" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="featured-post-area">
       <div class="container">
			<div class="row">
				<th:block th:each="product : ${listProduct}">
			      <div class="col-md-3 col-sm-6">
					<a th:href="@{'/arsenal/product/' + ${product.getId_product()}}">
						<div class="product">
							<img style="width: 250px; height: 300px" th:src="${product.getImage_product()}" alt="Áo đấu Arsenal"/>
							<span th:text="${product.getName_product()}"></span><br/>
							<span th:text="${product.getSeason()}"></span>
						</div>
					</a>
				 </div>
			   </th:block>
			</div>
		</div>
    </div><br/>
    <footer th:replace="layout :: footer"></footer>
</body>

</html>